{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<section class="section mt-5" id="about">
    <div class="container">
        <h2 class="text-center">Background Checks and Due Diligence Division</h2>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>DUE DILIGENCE AND BACKGROUND CHECKS IN EMPLOYMENT/RECRUITMENT/HIRING</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>DUE DILIGENCE IN PROCUREMENT, TENDERS AND FOR VENDORS AND SERVICE PROVIDERS</h5>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>DUE DILIGENCE IN SPECIAL AND CRITICAL PROJECTS AND ASSIGNMENTS: MERGERS, ACQUISITIONS, CRITICAL CONTRACTS, PARTNERSHIPS, PROPERTY CONVEYANCING & REPRESENTATIONS</h5>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>DUE DILIGENCE IN ASSET CONVEYANCING – BUYING OF HIGH VALUED AND CRITICAL ASSET</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>DUE DILIGENCE IN INHERITANCE DISPUTES, FAMILY BUSINESS & FAMILY PROPERTY CONFLICT</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}