{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<section class="section mt-5" id="about">
    <div class="container">
        <h2 class="text-center">Background Checks and Due Diligence Division</h2>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h4>DUE DILIGENCE AND BACKGROUND CHECKS IN EMPLOYMENT/RECRUITMENT/HIRING</h4>
                        <p>The success and growth of any organization is directly proportional to the integrity and competency of its employees. It takes great dedication and sacrifice for visionary and hardworking investors to come up with a great organization,
                            but it may take a few hours or days for one wayward employee to bring such an organization down to its knees, especially through theft and fraud. This calls for prudence in hiring.</p>
                        <p>At BCSI, we do professional employee screening to ensure that you have the right people to assist you in achieving your organization goals. A professional employee screening will as well assist your organization to be in compliance
                            with relevant laws and best practices. It also helps you to identify and avoid persons with fake and fraudulent academic papers, national identity cards, passports, police clearance certificates, practicing licenses as well
                            as persons with sordid and criminal previous employment history among others. It enables your organization to select persons based on their competency, work ethics, integrity and discipline.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h4>DUE DILIGENCE IN PROCUREMENT, TENDERS AND FOR VENDORS AND SERVICE PROVIDERS</h4>
                        <p>From time to time, institutions engage vendors, service providers and contractors to supply them with good and services, to avoid being defrauded by a few mischievous and fraudulent characters, it is critical to know if they are
                            legally registered institutions, if they have the legal and professional capacity to offer the services they purport to be capable of offering to you, if they have a legitimate office or physical address, what of conflict of
                            interest, what of the nature of litigations in court, are the directors blacklisted by the regulatory authorities and financial institutions … among many other critical areas of consideration.</p>
                        <p>At BCSI, our job is to ensure that you engage legitimate, authentic and legally existing institution, vendors, and service providers to offer you services so that you may protect your investment from fraudulent schemes and legal
                            consequences. In our line of work, we have unearthed ad hoc offices and bank accounts only meant for tendering and deposit payment stages, totally non-existence companies and directors (legally speaking) and vendors, service
                            providers, contractors without the necessary professional, expertise, legal, financial wherewithal to successfully deliver on the projects they are tendering for. Several companies have lost billions of money in procurement
                            and tendering related fraud. </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h4>DUE DILIGENCE IN SPECIAL AND CRITICAL PROJECTS AND ASSIGNMENTS: MERGERS, ACQUISITIONS, CRITICAL CONTRACTS, PARTNERSHIPS, PROPERTY CONVEYANCING & REPRESENTATIONS</h4>
                        <p>There exists special and critical projects that involves large sums of money or huge property being transacted. Critical and high level confidential information, people and organizations may be involved. The nature of the project
                            may be fluid with high stakes such that a minor mishap may lead to long term and irrevocable consequences. Such critical projects may include mergers, acquisitions, critical contracts and partnerships, leases, wills, oversee
                            assignments and representations at high powered meetings and negotiations as well as in property conveyancing. It may be a new venture with high stakes. In a very dishonest and fraudulent environment, it is important to be
                            cautious and strategic to secure tomorrow by seeking to be proactively intelligence led before making high state decisions. At BCSI, we conduct due diligence and background checks to unravel the truth as well as hidden information
                            to assist you make the right, wise and strategic decision.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h4>DUE DILIGENCE IN ASSET CONVEYANCING – BUYING OF HIGH VALUED AND CRITICAL ASSET</h4>
                        <p>You want to buy property such as land, buildings, business, machineries and automobiles. Are you sure that the person selling has not falsified documents to purport to be the legal owner, is there an ongoing litigation over the
                            same property you intend to buy, how many people are complaining that they have paid for the same property you intend to buy, how was the property you intend to buy originally acquired, is there an existing caveat / caution
                            over the same property you intend to buy, is the property you intend to buy been used as security to acquire loan from a financial institution, is there a family tussle over the same piece of property? These among other pertinent
                            and critical information are what we gather for you so that you may be in a position to make a safe investment decision and to avoid fraudulent transactions. Many investors have lost several millions to people purporting to
                            be in a position to transfer legitimate ownership. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h4>DUE DILIGENCE IN INHERITANCE DISPUTES, FAMILY BUSINESS & FAMILY PROPERTY CONFLICT</h4>
                        <p>This is a special service dedicated to family businesses especially where there is family tussle relating to the passing on of one of the family members who had had control on the entire estate. The media is awash with sad stories
                            of large family business empires going down the drain as families fight in court for ages over control. As this takes place, the business suffer from lack of proper management as mischievous employees, managers, lawyers and
                            even family members take advantage to defraud and steal from the business. At BCSI, our intention is to save these businesses so that all legitimate persons continues to draw legitimate and equitable benefits from them. We
                            believe at BCSI that many other families, beneficiaries, government, suppliers, vendors and several service providers’ benefits from the existence of a thriving business and because of this, they should not close down as a
                            result of family tussles that can be solved. Our due diligence and background checks services are geared towards solving major contentious issues relating to contested wills, bank accounts, hidden property, deceased properties
                            not known to family, misuse of litigations and counter litigations to deny rights and escalate conflict and stalemate for fraudulent gains, fraudulent DNA and paternity reports, blackmail and threats.</p>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center">Our Services</h3>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>01</h2>
                        <img src="../../static/images/feature-icon-01.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>

                        <p> <a href="">Employment recruitment hiring.</a>
                        </p>
                        <p> <a href="">Procurement, tenders & for vendors & service providers</a>
                        </p>
                        <p> <a href="">Special & critical projects & assignments -mergers, acquisitions, critical contracts, partnership</a>
                        </p>
                        <p> <a href="">Conveyancing – buying property</a>
                        </p>
                        <p> <a href="">Inheritance disputes, family business & conflict</a>
                        </p>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>02</h2>
                        <img src="../../static/images/feature-icon-02.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based<span id="dots2">...</span><span id="more_info2"> trials or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text2()" id="read_more2">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>03</h2>
                        <img src="../../static/images/feature-icon-03.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots3">...</span><span id="more_info3"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text3()" id="read_more3">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>04</h2>
                        <img src="../../static/images/feature-icon-04.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements made in<span id="dots4">...</span><span id="more_info4"> the business plan, and studies of the company's product and market. It includes
                            extensive questioning of management and other company personnel.
                            </span>
                            <span class="main-button" onclick="more_text4()" id="read_more4">
                            Read More
                        </span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>05</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based trials<span id="dots5">...</span><span id="more_info5"> or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text5()" id="read_more5">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>06</h2>
                        <img src="../../static/images/feature-icon-06.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots6">...</span><span id="more_info6"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text6()" id="read_more6">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}