{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 10px over 0.6s after 0.4s">
                <img src="../../static/images/Photos/1T6A7293.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="../../static/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h4>Prevention is Better than Cure, Information and Knowledge is Power</h4>
                            <p>The success and growth of any organization is directly proportional to the integrity and competency of its employees. It takes great dedication and sacrifice for visionary and hardworking investors to come up with a great organization,
                                but it may take a few hours or days for one wayward employee to bring such an organization down to its knees, especially through theft and fraud. This calls for prudence in hiring.
                            </p>
                            <p>At BCSI, we do professional employee screening to ensure that you have the right people to assist you in achieving your organization goals. A professional employee screening will as well assist your organization to be in compliance
                                with relevant laws and best practices. It also helps you to identify and avoid persons with fake and fraudulent academic papers, national identity cards, passports, police clearance certificates, practicing licenses as
                                well as persons with sordid and criminal previous employment history among others. It enables your organization to select persons based on their competency, work ethics, integrity and discipline. </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{%endblock%}