{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}
<div class="left-image-decor"></div>

<section class="section" id="promotion" style="margin-top: 5%;">
    <div class="container">
        <div class="row" style="padding-top: 10%;">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 10px over 0.6s after 0.4s">
                <img src="../../static/images/Photos/slider21.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <h3 class="text-center">Upcoming events</h3>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Event</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <hr class="mt-5">
                <h3 class="text-center">Register with us today</h3>
                <form action="" method="POST" style="width:100%" enctype='multipart/form-data'>
                    {% csrf_token %} {% bootstrap_form form %}
                    <div class="form-group">
                        <!-- Button trigger modal -->
                        <input type="submit" class="btn btn-primary btn-lg" value="Pay Now" data-toggle="modal" data-target="#exampleModalCenter">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>



                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="background-color: green; color: white;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
                                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
          </button>
                            </div>
                            <center>
                                <div class="loader"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section> {%endblock%}