{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}
<div class="container">
    <h1 class="ml10 text-center gallery">
        <span class="text-wrapper">
          <span class="letters ">Gallery</span>
        </span>
    </h1>
    <div class="row mt-5" id="gallery">

        <img src="../../static/images/Photos/1T6A7304.jpg" alt=" " width="50%">
        <img src="../../static/images/Photos/slider2.jpg" alt="" width="50%">
        <img src="../../static/images/Photos/ii. AFTER SUCCESSFUL TRAINING.JPG" alt=" " width="50% ">
        <img src="../../static/images/Photos/slider21.jpg" alt="" width="50%">
    </div>
</div>
{%endblock%}