{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}
<div class="container">
    <h1 class="ml10 text-center gallery">
        <span class="text-wrapper">
          <span class="letters ">Gallery</span>
        </span>
    </h1>
    <div class="row mt-5" id="gallery">
        <div class="col-3">
            <img src="../../static/images/Photos/OUR FOUNDER AND MANAGING DIRECTOR - Mr. Clinton Obongo.jpg " alt=" " width="100% ">
            <img src="../../static/images/Photos/MANAGING DIRECTOR WITH THE NATIONAL DIRECTOR DIRECTORATE OF CRIMINAL INVESTIGATIONS.jpg " alt=" " width="100% ">
            <img src="../../static/images/Photos/1T6A7293.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/1T6A7304.jpg" alt="" width="100%">
        </div>

        <div class="col-3">
            <img src="../../static/images/Photos/1T6A7345.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/1T6A7383.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/1T6A7502.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/MANAGING DIRECTOR WITH NATIONAL DIRECTOR OF PUBLIC PROSECUTIONS.jpg" alt="" width="100%">
        </div>
        <div class="col-3">
            <img src="../../static/images/Photos/ii. AFTER SUCCESSFUL TRAINING.JPG" alt="" width="100%">
            <img src="../../static/images/Photos/ii. PARTICIPATION IN ANTI-COUTERFEIT WALK.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/ii. TEAM CONDUCTING SECURITY AND SAFETY SURVEY AND AUDIT AT A CLIENT ESTABLISHMENT.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/IMG_20211203_163146_9.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/MANAGING DIRECTOR WITH THE NATIONAL DIRECTOR DIRECTORATE OF CRIMINAL INVESTIGATIONS.jpg " alt=" " width="100% ">
        </div>
        <div class="col-3">
            <img src="../../static/images/Photos/logo.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/MANAGING DIRECTOR AND FOUNDER Clinton Obongo (Centre) With Inspector General National Police Service Hillary Mutyambai (Left).jpg" alt="" width="100%">
            <img src="../../static/images/Photos/MANAGING DIRECTOR WITH DIRECTOR GENERAL KENYA ANTI-COUNTERFEIT AGENCY.jpg" alt="" width="100%">
            <img src="../../static/images/Photos/MANAGING DIRECTOR WITH NATIONAL CHAIRMAN OF KENYA NATIONAL CHAMBER OF COMMERCE AND INDUSTRY.jpg" alt="" width="100%">
        </div>
    </div>
</div>
{%endblock%}