{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Landing page sliding photos Start ***** -->
<div class="home-slider owl-carousel js-fullheight" id="landing" style="padding-top: 10%;">
    <div class="slider-item js-fullheight" id="slider1" style="background-image:url(../../static/images/Clinterpol\ \(another\ copy\).jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" id="slider2" style="background-image:url(../../static/images/Photos/1T6A7383.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" id="slider3" style="background-image:url(../../static/images/Photos/1T6A7293.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" id="slider4" style="background-image:url(../../static/images/Photos/1T6A7304.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Landing page sliding photos end ***** -->



<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img src="../../static/images/feature-icon-01.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements<span id="dots1">...</span><span id="more_info1"> made in the business plan, and studies of the company's product and market. It includes
                            extensive questioning of management and other company personnel.
                            </span>
                            <span class="main-button" onclick="more_text1()" id="read_more1">
                                Show More
                            </span>
                        </p>
                        <a href="{%url 'background_check'%}"><button class="more_button">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img src="../../static/images/feature-icon-02.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based<span id="dots2">...</span><span id="more_info2"> trials or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text2()" id="read_more2">
                                Show More
                            </span></p>
                        <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img src="../../static/images/feature-icon-03.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots3">...</span><span id="more_info3"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text3()" id="read_more3">
                                Show More
                            </span></p> <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>04</h2>
                        <img src="../../static/images/feature-icon-04.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements made in<span id="dots4">...</span><span id="more_info4"> the business plan, and studies of the company's product and market. It includes
                            extensive questioning of management and other company personnel.
                            </span>
                            <span class="main-button" onclick="more_text4()" id="read_more4">
                            Show More
                        </span></p> <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>05</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based trials<span id="dots5">...</span><span id="more_info5"> or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text5()" id="read_more5">
                                Show More
                            </span></p>
                        <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>06</h2>
                        <img src="../../static/images/feature-icon-06.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots6">...</span><span id="more_info6"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text6()" id="read_more6">
                                Show More
                            </span></p> <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->



<!-- ***** Footer Start ***** -->
<footer id="contact-us">
    <div class="container ">
        <div class="footer-content ">
            <div class="row ">
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <div class="contact-form ">
                        <form id="contact " action=" " method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.First_name}}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.Last_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.Phone_number}}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.Your_Email_address}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 ">
                                    {{form.subject}}{{form.message}}
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Send Message Now</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
                <div class="right-content col-lg-6 col-md-12 col-sm-12 ">
                    <h2>More About <em>Clinterpol</em></h2>
                    <p> <br><br>If you need this contact form to send email to your inbox, you may follow our <a rel="nofollow " href="https://templatemo.com/contact " target="_parent ">contact</a> page for more detail.</p>
                    <ul class="social ">
                        <li><a href=" "><i class="fa fa-facebook "></i></a></li>
                        <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                        <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                        <li><a href="# "><i class="fa fa-rss "></i></a></li>
                        <li><a href="# "><i class="fa fa-dribbble "></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="sub-footer ">
                    <p>Copyright &copy; Alvicreative | Designed by <a rel="nofollow " href=" ">Alvicreative</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{%endblock%}