{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Landing page sliding photos Start ***** -->

<div class="home-slider owl-carousel js-fullheight pt-5" id="landing">
    <div class="slider-item js-fullheight" style="background-image:url(../../static/images/Photos/1T6A7383.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" style="background-image:url(../../static/images/Photos/1T6A7293.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight" style="background-image:url(../../static/images/Photos/1T6A7304.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate">
                    <div class="text w-100 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Landing page sliding photos end ***** -->



<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img src="../../static/images/feature-icon-01.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements<span id="dots1">...</span><span id="more_info1"> made in the business plan, and studies of the company's product and market. It includes
                            extensive questioning of management and other company personnel.
                            </span>
                            <span class="main-button" onclick="more_text1()" id="read_more1">
                                Show More
                            </span>
                        </p>
                        <a href="{%url 'background_check'%}"><button class="more_button">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img src="../../static/images/feature-icon-02.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based<span id="dots2">...</span><span id="more_info2"> trials or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text2()" id="read_more2">
                                Show More
                            </span></p>
                        <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img src="../../static/images/feature-icon-03.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots3">...</span><span id="more_info3"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text3()" id="read_more3">
                                Show More
                            </span></p> <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>04</h2>
                        <img src="../../static/images/feature-icon-04.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements made in<span id="dots4">...</span><span id="more_info4"> the business plan, and studies of the company's product and market. It includes
                            extensive questioning of management and other company personnel.
                            </span>
                            <span class="main-button" onclick="more_text4()" id="read_more4">
                            Show More
                        </span></p> <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>05</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based trials<span id="dots5">...</span><span id="more_info5"> or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text5()" id="read_more5">
                                Show More
                            </span></p>
                        <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>06</h2>
                        <img src="../../static/images/feature-icon-06.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots6">...</span><span id="more_info6"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text6()" id="read_more6">
                                Show More
                            </span></p> <button class="more_button">Read more</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 10px over 0.6s after 0.4s">
                <img src="../../static/images/Photos/1T6A7293.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="../../static/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h4>Prevention is Better than Cure, Information and Knowledge is Power</h4>
                            <p><b>CLINTERPOL</b> was incorporated in 2011, our approach to the problem of crime and insecurity are anchored on two pillars: Prevention is better than cure and Information and knowledge is power. We believe that sustainable
                                management of insecurity, crime and conflict should be intelligence led. Failure by institutions and individuals to take preventive and proactive steps to avoid being victims of crime and insecurity, ensures that a lot
                                of resources and time are used to react majorly through lengthy investigations and litigations, some taking as long as over a decade. This is not good for business as it slows progress and development.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                        <img src="../../static/images/about-icon-02.png" alt="">
                        <div class="text">
                            <h4>Intelligence – Led Decision Making</h4>
                            <p>CLINTERPOL services majorly seeks to cushion institutions from falling prey to the insidious act of crime and insecurity such as fraud and theft by acting proactively with a preventive mindset, before their occurrence and not
                                post facto. We are the gateway to sources of knowledge and information critical and instrumental for any institution that intends to rely on intelligence-led, timely, accurate and relevant information and knowledge to arrive
                                at sustainable, development and growth conscious corporate decisions. Reactive, firefighting, responses long after the fact is tedious, litigation fraught, expensive, time consuming and reputation soiling.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor" id="mision"></div>

<!-- ***** Mission and Vision Starts ***** -->
<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter left move 30px over 0.8s after 0.6s">
                        <div class="text">
                            <h2>Vision</h2>
                            <p data-scroll-reveal="enter left move 30px over 0.8s after 0.2s">Building Confidence in Investment, Augmenting the Course of Justice.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.8s after 0.6s">
                        <div class="text">
                            <h2>Mision</h2>
                            <p data-scroll-reveal="right left move 30px over 0.8s after 0.2s">To participate in unravelling and provision of timely and accurate information to assist clients make the right, wise and strategic decisions.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 10px over 0.6s after 0.4s">
                <img src="../../static/images/Photos/1T6A7293.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Mission and Vision Ends ***** -->
<div id="core_values" class="p-5"></div>
<section>
    <div class="container mt-5">
        <h1 class="text-center mt-5 zoom-in">Core Values</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Prevention</h4>
                        <p>CLINTERPOL believes that institutions should put the right proactive measures in place and to take appropriate foresighted and deliberate actions to reduce opportunities for crime, losses as well as negative security and safety
                            incidences. CLINTERPOL believes that reactive firefighting responses are expensive, cumbersome, reputation damaging and actual recovery and restoration may be impossible to achieve.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Intelligence Led</h4>
                        <p>CLINTERPOL believes that crucial and strategic decisions must be based not only on sufficient information but also that the information must be accurate and timely.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Justice</h4>
                        <p>CLINTERPOL believes that fairness is all about the right of a client to make own decisions as to what should happen with its resources, that the acme of justice is restoration.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Integrity</h4>
                        <p>CLINTERPOL believes that when clients are treated honestly, professionally, transparently, accountably, ethically, while giving them value for their investment, employing ethical business practices, being committed and diligent
                            with their assignments, keeping to promised timelines and quality deliverables, then, CLINTERPOL has strategically positioned itself for its own growth and development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="client" class="mt-5"></div>
<section>
    <h1 class="ml10 text-center">
        <span class="text-wrapper">
          <span class="letters">Our CLients</span>
        </span>
    </h1>
    <div class="row" id="clients">
        <center>
            <p data-scroll-reveal="enter top move 30px over 0.6s after 0.4s" class="clients">Since inception, CLINTERPOL has tried its best to deliver professional and cutting edge services to its clients. In so doing, CLINTERPOL have been blessed to have attracted some of the leading local and global institutions and offered them
                great services.</p>
        </center>
    </div>
    <div class="container">

        <center>
            <div class="row">
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/M-Pesa Foundationpng" alt="M-Pesa Foundation" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>M-Pesa Foundation</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/KINGS WAY TYRES LIMITED .png" alt="Kings Way Types Limited" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Kings Way Types Limited</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/MARTER MISERICORDIA HOSPITAL.png" alt="Marter Misericordia Hospital" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Marter Misericordia Hospital</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/PG SECURITY.png" alt="PG Security" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>PG Security</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/SISU GLOBAL HEALTH.jpg" alt="Sisu Global Health" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Sisu Global Health</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/Q inn.jpeg" alt="Qaribu Inn" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Qaribu Inn</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/VICTORIA COMMERCIAL BANK.png" alt="Victoria Commercial Bank" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Victoria Commercial Bank</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/HARAMBEE SACCO SOCIETY LIMITED.png" alt="HARAMBEE SACCO SOCIETY LIMITED" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Haramee Sacco Society Limited</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/MOMBASA PORT CO-OPERATIVE.png" alt="Mombasa" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>MombasaPort Co-operative</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/NATIONAL GUN OWNERS ASSOCIATION ORGANISATION.png" alt="NATIONAL GUN OWNERS ASSOCIATION ORGANISATION" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Nationa Gun Owners Associationn Organization</h4>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</section>


<div id="Our_partners"></div>
<hr>
<section>
    <div class="container ">
        <div class="section-header ">
            <h1 class="ml10 text-center ">
                <span class="text-wrapper ">
                  <span class="letters ">Our Partners</span>
                </span>
            </h1>
            <p class="text-center ">Meet our happy clients</p>
        </div>
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp " style="visibility: visible; animation-name: fadeInUp; ">
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/ASIS INTERNATIONAL – KENYA CHAPTER .png " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/KENYA NATIONAL CHAMBER.png " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/NATIONAL ASSOCIATION.jpeg " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/PROTECTIVE AND SAFETY.jpeg " class="img-fluid " alt=" " width="60% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/KENYA PROFESIONAL SOCIETY.jpeg " class="img-fluid " alt=" " width="50% "> </div>
            </div>
        </div>
    </div>
</section>
<hr>

<!-- ***** Footer Start ***** -->
<footer id="contact-us">
    <div class="container ">
        <div class="footer-content ">
            <div class="row ">
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <div class="contact-form ">
                        <form id="contact " action=" " method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.First_name}}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.Last_name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.Phone_number}}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    {{form.Your_Email_address}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 ">
                                    {{form.subject}}{{form.message}}
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Send Message Now</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
                <div class="right-content col-lg-6 col-md-12 col-sm-12 ">
                    <h2>More About <em>Clinterpol</em></h2>
                    <p> <br><br>If you need this contact form to send email to your inbox, you may follow our <a rel="nofollow " href="https://templatemo.com/contact " target="_parent ">contact</a> page for more detail.</p>
                    <ul class="social ">
                        <li><a href=" "><i class="fa fa-facebook "></i></a></li>
                        <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                        <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                        <li><a href="# "><i class="fa fa-rss "></i></a></li>
                        <li><a href="# "><i class="fa fa-dribbble "></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="sub-footer ">
                    <p>Copyright &copy; Alvicreative | Designed by <a rel="nofollow " href=" ">Alvicreative</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{%endblock%}