{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1>CLINTERPOL SECURITY AND FORENSICS CONSULTING LIMITED</h1>
                    <p><a href="#"> is a Security, Forensics, Investigations, Background Checks, Due Diligence, Audit, Risk, Safety, Conflict and Training Consulting Firm with unique and cutting edge services segmented into Six Specialized Service Divisions.</p>
                    <a href="#about" class="main-button-slider">KNOW US BETTER</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img src="assets/images/features-icon-1.png" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements made in the business plan, and studies of the company's product and market. It includes extensive questioning of management and other company
                            personnel.
                        </p>
                        <a href="#testimonials" class="main-button">
                                Read More
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img src="assets/images/features-icon-2.png" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based trials or proceeding. Many different fields of science can be applied for forensic investigations or forensic studies including biology, medicine,
                            anthropology and even engineering.</p>
                        <a href="#testimonials" class="main-button">
                                Discover More
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img src="assets/images/features-icon-3.png" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process, tools, and monitoring systems can be used to develop projects, as well as evaluate, monitor, audit, and advise on projects that are being
                            developed by third parties.</p>
                        <a href="#testimonials" class="main-button">
                                More Detail
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>04</h2>
                        <img src="assets/images/features-icon-1.png" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements made in the business plan, and studies of the company's product and market. It includes extensive questioning of management and other company
                            personnel.
                        </p>
                        <a href="#testimonials" class="main-button">
                                Read More
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>05</h2>
                        <img src="assets/images/features-icon-2.png" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based trials or proceeding. Many different fields of science can be applied for forensic investigations or forensic studies including biology, medicine,
                            anthropology and even engineering.</p>
                        <a href="#testimonials" class="main-button">
                                Discover More
                            </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>06</h2>
                        <img src="assets/images/features-icon-3.png" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process, tools, and monitoring systems can be used to develop projects, as well as evaluate, monitor, audit, and advise on projects that are being
                            developed by third parties.</p>
                        <a href="#testimonials" class="main-button">
                                More Detail
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="left-image-decor"></div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 10px over 0.6s after 0.4s">
                <img src="https://images.ctfassets.net/cnu0m8re1exe/4sAfZQTrWrZh2OZX873EOn/c30f73eba139fb08d23defaea04278b5/shutterstock_517131964.jpg?fm=jpg&fl=progressive&w=660&h=433&fit=fill" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="assets/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h4>Prevention is Better than Cure, Information and Knowledge is Power</h4>
                            <p><b>CLINTERPOL</b> was incorporated in 2011, our approach to the problem of crime and insecurity are anchored on two pillars: Prevention is better than cure and Information and knowledge is power. We believe that sustainable
                                management of insecurity, crime and conflict should be intelligence led. Failure by institutions and individuals to take preventive and proactive steps to avoid being victims of crime and insecurity, ensures that a lot
                                of resources and time are used to react majorly through lengthy investigations and litigations, some taking as long as over a decade. This is not good for business as it slows progress and development.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                        <img src="assets/images/about-icon-02.png" alt="">
                        <div class="text">
                            <h4>Intelligence – Led Decision Making</h4>
                            <p>CLINTERPOL services majorly seeks to cushion institutions from falling prey to the insidious act of crime and insecurity such as fraud and theft by acting proactively with a preventive mindset, before their occurrence and not
                                post facto. We are the gateway to sources of knowledge and information critical and instrumental for any institution that intends to rely on intelligence-led, timely, accurate and relevant information and knowledge to arrive
                                at sustainable, development and growth conscious corporate decisions. Reactive, firefighting, responses long after the fact is tedious, litigation fraught, expensive, time consuming and reputation soiling.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<div class="right-image-decor"></div>

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Vision</h2>
                    <p>Building Confidence in Investment, Augmenting the Course of Justice.</p>
                </div>
                <div class="center-heading">
                    <h2>Mision</h2>
                    <p>To participate in unravelling and provision of timely and accurate information to assist clients make the right, wise and strategic decisions.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Testimonials Ends ***** -->


<!-- ***** Footer Start ***** -->
<footer id="contact-us">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="Full Name" required="" style="background-color: rgba(250,250,250,0.3);">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" id="email" placeholder="E-Mail Address" required="" style="background-color: rgba(250,250,250,0.3);">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
                <div class="right-content col-lg-6 col-md-12 col-sm-12">
                    <h2>More About <em>Clinterpol</em></h2>
                    <p> <br><br>If you need this contact form to send email to your inbox, you may follow our <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact</a> page for more detail.</p>
                    <ul class="social">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-footer">
                    <p>Copyright &copy; Alvicreative | Designed by <a rel="nofollow" href="">Alvicreative</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{%endblock%}