{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<section class="section mt-5" id="about" style="margin-top: 5%;">
    <div class="container">
        <h2 class="text-center">Investigations, Forensics and Litigation Support Division</h2>

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>Investigations Of High Value Financial / Economic & Property Fraud
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>Assets Tracking, Tracing & Consolidation In Fraud, Litigation, Dispute & Inheritance</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>Litigation Support / Evidence Gathering & Investigations In High Stake Cases
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>Illicit Trade / Brand Protection / Counterfeit / IPR Investigations & Intelligence
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h5>Forensic Auditing In Fraud and Suspicious Transactions & Activities
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{%endblock%}