{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<div id="client" class="mt-5" style="margin-top: 5%;"></div>
<section>
    <h1 class="ml10 text-center">
        <span class="text-wrapper">
          <span class="letters">Our CLients</span>
        </span>
    </h1>
    <div class="row" id="clients">
        <center>
            <p data-scroll-reveal="enter top move 30px over 0.6s after 0.4s" class="clients">Since inception, CLINTERPOL has tried its best to deliver professional and cutting edge services to its clients. In so doing, CLINTERPOL have been blessed to have attracted some of the leading local and global institutions and offered them
                great services.</p>
        </center>
    </div>
    <div class="container">

        <center>
            <div class="row">
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/M-Pesa Foundationpng" alt="M-Pesa Foundation" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>M-Pesa Foundation</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/KINGS WAY TYRES LIMITED .png" alt="Kings Way Types Limited" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Kings Way Types Limited</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/MARTER MISERICORDIA HOSPITAL.png" alt="Marter Misericordia Hospital" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Marter Misericordia Hospital</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/PG SECURITY.png" alt="PG Security" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>PG Security</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/SISU GLOBAL HEALTH.jpg" alt="Sisu Global Health" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Sisu Global Health</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/Q inn.jpeg" alt="Qaribu Inn" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Qaribu Inn</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/VICTORIA COMMERCIAL BANK.png" alt="Victoria Commercial Bank" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Victoria Commercial Bank</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/HARAMBEE SACCO SOCIETY LIMITED.png" alt="HARAMBEE SACCO SOCIETY LIMITED" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Haramee Sacco Society Limited</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/MOMBASA PORT CO-OPERATIVE.png" alt="Mombasa" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>MombasaPort Co-operative</h4>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner" data-scroll-reveal="enter top move 30px over 0.6s after 0.4s">
                        <div class="flip-card-front">
                            <img src="../../static/images/Clinets/NATIONAL GUN OWNERS ASSOCIATION ORGANISATION.png" alt="NATIONAL GUN OWNERS ASSOCIATION ORGANISATION" width="200px">
                        </div>
                        <div class="flip-card-back">
                            <h4>Nationa Gun Owners Associationn Organization</h4>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</section>

<section class="section" id="about">
    <div class="container">
        <h1 class="ml10 text-center ">
            <span class="text-wrapper ">
              <span class="letters ">Our Services</span>
            </span>
        </h1>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>01</h2>
                        <img src="../../static/images/feature-icon-01.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>

                        <a href="{%url 'background_check'%}"><button class="more_button">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>02</h2>
                        <img src="../../static/images/feature-icon-02.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>

                        <a href="{%url 'investigations'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>03</h2>
                        <img src="../../static/images/feature-icon-03.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <a href="{%url 'corporate'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>04</h2>
                        <img src="../../static/images/feature-icon-04.svg" alt="">
                        <h4>Security, safety, risk & audit division</h4>
                        <a href="{%url 'security'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>05</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>International security and peace (Global conflict resolution) division</h4>

                        <a href="%url 'international_security'%"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>06</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>Training and capacity development division</h4>

                        <a href="{%url 'training'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}