{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<div id="Our_partners"></div>
<hr>
<section>
    <div class="container ">
        <div class="section-header ">
            <h1 class="ml10 text-center ">
                <span class="text-wrapper ">
                  <span class="letters ">Our Partners</span>
                </span>
            </h1>
            <p class="text-center ">Meet our happy clients</p>
        </div>
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp " style="visibility: visible; animation-name: fadeInUp; ">
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/ASIS INTERNATIONAL – KENYA CHAPTER .png " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/KENYA NATIONAL CHAMBER.png " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/NATIONAL ASSOCIATION.jpeg " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/PROTECTIVE AND SAFETY.jpeg " class="img-fluid " alt=" " width="60% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/KENYA PROFESIONAL SOCIETY.jpeg " class="img-fluid " alt=" " width="50% "> </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}