{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="our-service">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <img src="../../static/images/feature-icon-01.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>

                        <p> <a href="">Employment recruitment hiring.</a>
                        </p>
                        <p> <a href="">Procurement, tenders & for vendors & service providers</a>
                        </p>
                        <p> <a href="">Special & critical projects & assignments -mergers, acquisitions, critical contracts, partnership</a>
                        </p>
                        <p> <a href="">Conveyancing – buying property</a>
                        </p>
                        <p> <a href="">Inheritance disputes, family business & conflict</a>
                        </p>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <img src="../../static/images/feature-icon-02.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based<span id="dots2">...</span><span id="more_info2"> trials or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text2()" id="read_more2">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <img src="../../static/images/feature-icon-03.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots3">...</span><span id="more_info3"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text3()" id="read_more3">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>04</h2>
                        <img src="../../static/images/feature-icon-04.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>
                        <p>We do background checks on the management team, independent verifications of statements made in<span id="dots4">...</span><span id="more_info4"> the business plan, and studies of the company's product and market. It includes
                            extensive questioning of management and other company personnel.
                            </span>
                            <span class="main-button" onclick="more_text4()" id="read_more4">
                            Read More
                        </span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>05</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>
                        <p>We use our expertise to establish facts or evidence which is to be used for crime based trials<span id="dots5">...</span><span id="more_info5"> or proceeding. Many different fields of science can be applied for forensic
                            investigations or forensic studies including biology, medicine, anthropology and even engineering.</span>
                            <span class="main-button" onclick="more_text5()" id="read_more5">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>06</h2>
                        <img src="../../static/images/feature-icon-06.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <p>Clinterpol has its own methodology and platform to perform project development. The process,<span id="dots6">...</span><span id="more_info6"> tools, and monitoring systems can be used to develop projects, as well as evaluate,
                            monitor, audit, and advise on projects that are being developed by third parties.</span>
                            <span class="main-button" onclick="more_text6()" id="read_more6">
                                Read More
                            </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
{%endblock%}