{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}

<div id="Our_partners"></div>
<hr>
<section>
    <div class="container ">
        <div class="section-header ">
            <h1 class="ml10 text-center ">
                <span class="text-wrapper ">
                  <span class="letters ">Our Partners</span>
                </span>
            </h1>
            <p class="text-center ">Meet our happy clients</p>
        </div>
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp " style="visibility: visible; animation-name: fadeInUp; ">
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/ASIS INTERNATIONAL – KENYA CHAPTER .png " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/KENYA NATIONAL CHAMBER.png " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/NATIONAL ASSOCIATION.jpeg " class="img-fluid " alt=" " width="100% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/PROTECTIVE AND SAFETY.jpeg " class="img-fluid " alt=" " width="60% "> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <div class="client-logo "> <img src="../../static/images/Partners/KENYA PROFESIONAL SOCIETY.jpeg " class="img-fluid " alt=" " width="50% "> </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="about">
    <div class="container">
        <h1 class="ml10 text-center ">
            <span class="text-wrapper ">
              <span class="letters ">Our Services</span>
            </span>
        </h1>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>01</h2>
                        <img src="../../static/images/feature-icon-01.svg" alt="">
                        <h4>Background Checks and Due Diligence Division</h4>

                        <a href="{%url 'background_check'%}"><button class="more_button">Read more</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>02</h2>
                        <img src="../../static/images/feature-icon-02.svg" alt="">
                        <h4>Investigations, Forensics and Litigation Support Division</h4>

                        <a href="{%url 'investigations'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>03</h2>
                        <img src="../../static/images/feature-icon-03.svg" alt="">
                        <h4>Corporate/Project Support and Development Division</h4>
                        <a href="{%url 'corporate'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>04</h2>
                        <img src="../../static/images/feature-icon-04.svg" alt="">
                        <h4>Security, safety, risk & audit division</h4>
                        <a href="{%url 'security'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>05</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>International security and peace (Global conflict resolution) division</h4>

                        <a href="%url 'international_security'%"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="">
                        <h2>06</h2>
                        <img src="../../static/images/feature-icon-05.svg" alt="">
                        <h4>Training and capacity development division</h4>

                        <a href="{%url 'training'%}"><button class="more_button">Read more</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}