{%extends 'base.html'%}{% load bootstrap4 %}{%load static%} {%block content%}
<!-- ***** Mission and Vision Starts ***** -->

<section class="section" id="promotion">
    <div class="charter_page">
        <h4 class="text-center">Home | Service Charter</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="left-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter left move 30px over 0.8s after 0.6s">
                        <div class="text">
                            <h2>Vision</h2>
                            <p data-scroll-reveal="enter left move 30px over 0.8s after 0.2s">Building Confidence in Investment, Augmenting the Course of Justice.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.8s after 0.6s">
                        <div class="text">
                            <h2>Mision</h2>
                            <p data-scroll-reveal="right left move 30px over 0.8s after 0.2s">To participate in unravelling and provision of timely and accurate information to assist clients make the right, wise and strategic decisions.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 10px over 0.6s after 0.4s">
                <img src="../../static/images/Photos/1T6A7293.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>

<div id="core_values" class="p-5"></div>
<section>
    <div class="container mt-5">
        <h1 class="text-center mt-5 zoom-in">Core Values</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Prevention</h4>
                        <p>CLINTERPOL believes that institutions should put the right proactive measures in place and to take appropriate foresighted and deliberate actions to reduce opportunities for crime, losses as well as negative security and safety
                            incidences. CLINTERPOL believes that reactive firefighting responses are expensive, cumbersome, reputation damaging and actual recovery and restoration may be impossible to achieve.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Intelligence Led</h4>
                        <p>CLINTERPOL believes that crucial and strategic decisions must be based not only on sufficient information but also that the information must be accurate and timely.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Justice</h4>
                        <p>CLINTERPOL believes that fairness is all about the right of a client to make own decisions as to what should happen with its resources, that the acme of justice is restoration.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h4>Integrity</h4>
                        <p>CLINTERPOL believes that when clients are treated honestly, professionally, transparently, accountably, ethically, while giving them value for their investment, employing ethical business practices, being committed and diligent
                            with their assignments, keeping to promised timelines and quality deliverables, then, CLINTERPOL has strategically positioned itself for its own growth and development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Mission and Vision Ends ***** -->{%endblock%}