{% load bootstrap4 %}{%load static%} {%block content%}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="" class="logo">
                    <img src="{%static '../../../static/images/Photos/logo.jpg" alt="Logo" height="50px" width="50px">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li class="scroll-to-section"><a href="#landing" class="menu-item">Home</a></li>

                    <li class="submenu">
                        <a href="#about">About Us</a>
                        <ul>
                            <li><a href="#core_values" class="menu-item">Core VAlues</a></li>
                            <li><a href="#mision" class="menu-item">Mision & Vision</a></li>
                            <li><a href="#Our_partners" class="menu-item">Our Partners</a></li>
                        </ul>
                    </li>
                    <li class="scroll-to-section"><a href="#about" class="menu-item">Our Services</a></li>
                    <li class="scroll-to-section"><a href="#mision" class="menu-item">Our Services Charter</a></li>
                    <li class="scroll-to-section"><a href="#client" class="menu-item">Our Clients</a></li>
                    <li class="scroll-to-section"><a href="" class="menu-item">Media</a></li>

                    <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Inquire Now</a></li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
{%endblock%}